body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

input {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

button {
  display: flex;
  border: 2px solid black;
  border-left: 0;
  background-color: #06aed5;
  color: white;
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button:hover {
  font-size: 20px;
  background-color: green;
  transition: all 0.3s ease-in-out;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#clear{
  border: 2px solid black;
  border-radius: 10px;
  background-color: red;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-top: -2px;
}

.timestamp {
  display: flex;
  /* background-color: #D19A66; */
  border-top: 2px dashed black;
  height: 100%;
  align-items: center;
  justify-content: right;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}